*.o
.DS_Store
.*.swp
/env
/build_dir
/staging_dir
/logs
/feeds.conf
/files
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
# core dump
core
*.core
# GCC dependency files
*.d
# IDE/编辑器
.vscode/
.idea/
*.swp
*.swo
